{% extends "base.html" %}
{% block title %}Презентация · CyberSec Crew{% endblock %}
{% block content %}
<section class="presentation-page">
    <div class="presentation-text">
        <h1>Презентация профиля "Информационная безопасность"</h1>
        <p>Каждый из нас имеет уникальные способности, призванные творить будущее</p>
    </div>
    <div class="video-frame">
        <video controls>
            <source src="/big_files/presentation.MOV" type="video/mp4">
            Ваш браузер не поддерживает воспроизведение видео.
        </video>
    </div>
</section>
{% endblock %}
